* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: #272B32;

}

.accordion-item{
    border-radius: 8px;
    border-color: #898989;
}
.titulo {
    color: white;
    font-size: 60px;
    margin-bottom: 40px;
    font-weight: condensed;
}

#card-main {
    background-color: #3B3E44;
    color: white;
    width: 750px;
}
#character-list{
    list-style-type: none;
    font-size: 20px;
    max-height: 100px;
    overflow-y: auto;

}

#episode-list{
    list-style-type: none;
    max-height: 100px;
    overflow-y: auto;
}


.character-clicked {
    background-color: #7070702b;
    border-radius: 8px;
}

.character-details {
    margin-right: 20px;
}

.card-title{
    font-size: 23px;
}

.card-text1{
    margin-bottom: 5px;
}
.text-sub{
    color: #757676;
    
}
.text-sub span{
    color: white;
}

.status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px; 
}
.alive-dot {
    background-color: green;
}

.dead-dot {
    background-color: red; 
}
.unknown-dot{
    background-color: white;
}

.accordion{
    margin-top: 40px;
    margin-bottom: 22px;
  
}
#episodes-accordion,
#vizinhos-accordion{
    --bs-accordion-btn-color: white;
    --bs-accordion-btn-bg: #3B3E44;
    --bs-accordion-active-bg:#3B3E44;
    --bs-accordion-active-color: white;
    --bs-accordion-btn-focus-box-shadow: none;
    border: 2px solid #898989;
}

#vizinhos-list{
    list-style-type: none;
    max-height: 100px;
    overflow-y: auto;

}

